<div class="container">
    <span style="font-size: 20px;" class="m-2"><b>Удалить курс "{{course_delete.name}}"?</b> </span>
    <div class="m-3">Все уроки, которые в него входят, удалятся. <br>
        У учащихся, записанных на этот курс, пропадёт к ним доступ, а вы потеряете все данные об успеваемости.</div>
    <div class="btns-delete">
        <button tuiButton type="button" appearance="secondary-destructive" class="m-2 btn-delete-course" size="s">
           Да, удалить навсегда
        </button>
    </div>
</div>