<app-appbar></app-appbar>
<div class="container">

  <div class="main-title">
    <span class="title m-2"> Моё обучение </span>
  </div>

  <tui-loader [showLoader]="loader"></tui-loader>

  <ng-template [ngIf]="isNull" >
    <a class="courses-null m-2"  tuiLink routerLink="/catalog">Добавьте свой первый курс :)</a>
   <br><br><br>  <br><br><br>
  </ng-template>

  <div class="cards"
       *ngFor="let item of user_courses  | paginate: { itemsPerPage: 3, currentPage: p }">
    <a tuiIsland [hoverable]="true" class="info-course m-2">
      <div class="line_title_btn-settings">
        <h3 class="tui-island__title">{{item.name}}</h3>
        <div class="btn-settings" style="float:right;">
          <tui-hosted-dropdown tuiDropdownAlign="right" [content]="dropdown">
            <button tuiButton type="button" appearance="flat" size="s"
                    [pseudoActive]="open || null">
              <tui-svg src="tuiIconMoreVertical" class="icon"></tui-svg>
            </button>
          </tui-hosted-dropdown>

          <ng-template #dropdown let-close="close">
            <tui-data-list>
              <tui-opt-group>
                <button tuiOption (click)="goOverDialogLeaveCourse(item)">
                  Покинуть
                </button></tui-opt-group></tui-data-list>
          </ng-template>
        </div>
      </div>

      <p  routerLink="/course/study/{{item.idCourse}}/lesson/1/step/1" class="tui-island__paragraph">{{item.description}}</p>
      <p routerLink="/course/study/{{item.idCourse}}/lesson/1/step/1" class="tui-island__paragraph tui-island__paragraph_button">
        <a class="link-card_course" tuiLink routerLink="/course/study/{{item.idCourse}}/lesson/1/step/1">Продолжить</a>
      </p>
    </a>
  </div>

  <pagination-controls  previousLabel="Назад"
                        nextLabel="След."
                        class="paginate-courses p-2" (pageChange)="p = $event"></pagination-controls>
</div>

<ng-template let-observer [tuiDialogOptions]="{size: 's'}" [(tuiDialog)]="pageLeaveCourse">
  <app-confirmation-leave-course-deletion></app-confirmation-leave-course-deletion>
</ng-template>
