<app-appbar></app-appbar>
<div class="container">

  <div class="main-title">
    <span class="title m-2"> Моё обучение </span>
  </div>
<!--  <a tuiIsland [hoverable]="true" class="info-course">-->
<!--    <p routerLink="/course/info/{{item.idCourse}}" class="tui-island__paragraph">{{item.description}}</p>-->
<!--    <p routerLink="/course/info/{{item.idCourse}}" class="tui-island__paragraph tui-island__paragraph_button">-->
<!--      <a class="link-card_course" tuiLink routerLink="/course/info/{{item.idCourse}}">Содержание</a>-->
<!--    </p>-->
<!--  </a>-->
</div>
