<ng-template [ngIf] = "isCorrectAnswer">
  <tui-notification status="success" class="m-2">
    Правильно!
  </tui-notification>
</ng-template>

<ng-template [ngIf] = "idNotCorrectAnswer">
  <tui-notification status="error" class="m-2">
    Не верно:( Повторите попытку
  </tui-notification>
</ng-template>


<div class="test-task p-2">
  <span style="font-size: 24px;">Задача:</span> <br>
  {{current_name_task}}
</div>
<br>
<br>

<form [formGroup]="formAnswer">
  <tui-input class="formAnswer" formControlName="testValue">
    Введите ответ
    <input formControlName="valueAnswer"
      tuiTextfield
      type="text"
    />
  </tui-input>
</form>


<button [disabled]="disabledSubmitBtn" (click)="submitTest()" size="m" tuiButton class="btn-submit" appearance="custom">
  Отправить
</button>
