.course-promo_head{
  background-color: #282b41;
  min-height: 300px;
  color: white;
}

.course-promo_head-content{
  margin: auto;
  max-width: 1000px;
}

.course-promo_btn-start{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: auto;
}

.course-promo_main{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,auto));
  grid-gap: 50px;
  max-width: 1000px;
  margin: auto;
}

.course-promo_head-title{

}

.course-promo_head-description{
  max-width: 500px;
}
