<app-appbar></app-appbar>
<tui-loader [showLoader]="loader"></tui-loader>

<div class="main-content" *ngIf="!loader">
  <div class="course-promo_head" >
    <div class="course-promo_head-content">
      <h1 class="course-promo_head-title p-4">{{current_course.name}}</h1>
      <div class="course-promo_head-description p-3"> {{current_course.description}}</div>
    </div>
  </div>

  <div class="course-promo_main">
    <div class="col course-promo_program p-2">
      <h2 class="m-3">Чему вы научитесь?</h2>
      <div class=" m-3">
        <ul class="tui-list tui-list_large m-2 fs-6" *ngFor="let item of current_modules">
          <li class="tui-list__item">{{item.name}}</li>
        </ul>
      </div>
    </div>
    <div class="course-promo_btn-start p-2">

      <h4 class="m-3">Бесплатно</h4>

      <button (click)="joinCourse()" title="Записаться на курс" size="m" tuiButton type="button" class="m-2">
       <ng-template [ngIf]="!joinOk">
         Начать
       </ng-template>

        <ng-template [ngIf]="joinOk">
          Продолжить
        </ng-template>
      </button>

      <button title="Добавить в избранное" size="m" tuiButton type="button" appearance="outline" class="m-2 btn-add_like">
        <tui-svg src="tuiIconHeartLarge" class="icon m-1"></tui-svg>
        Избранное
      </button>
      <h5 class="m-2">Учиться можно сразу</h5>
    </div>
  </div>

</div>
