<app-appbar></app-appbar>
<!-- <tui-tabs tuiMobileTabs [(activeItemIndex)]="activeItemIndex">
    <button tuiTab tuiRipple="var(--tui-text-01)" class="p-2" (click)="getPageInfoCourse()">
        Описание
    </button>

    <button tuiTab tuiRipple="var(--tui-text-01)" class="p-2" (click)="getPageSyllabus()">
        Содержание
    </button>
</tui-tabs> -->

<ng-template [ngIf]="pageInfoCourse">
    <app-info-course></app-info-course>
    <app-syllabus-course></app-syllabus-course>
</ng-template>
