<p>create-task works!</p>
<div>
  <!--    <tui-combo-box-->
  <!--      class="variants-task m-2"-->
  <!--      [formControl]="testValue"-->
  <!--      [(ngModel)]="value"-->
  <!--    >-->
  <!--      Вариант задачи-->
  <!--      <input-->
  <!--        tuiTextfield-->
  <!--        placeholder="Введите название варианта"-->
  <!--      />-->
  <!--      <tui-data-list-wrapper-->
  <!--        *tuiDataList-->
  <!--        [items]="variantsTask | tuiFilterByInput"-->
  <!--      ></tui-data-list-wrapper>-->
  <!--    </tui-combo-box>-->
</div>
