<app-appbar></app-appbar>

<ng-template let-observer [tuiDialogOptions]="{label: 'Создание курса', size: 'm'}"
  [(tuiDialog)]="pageCreateCourse">
  <app-create-course></app-create-course>
</ng-template>


<div class="main">
  <div class="btn-create-course">
    <button tuiButton class="m-2" (click)="openPageCreateCourse()" size="m" appearance="whiteblock-active">
      <tui-svg src="tuiIconPlus" class="icon"></tui-svg>
      Новый курс
    </button>
  </div>
    <div class="created-courses m-2">
      <app-created-courses></app-created-courses>
    </div>
</div>

