<app-appbar></app-appbar>

<tui-tabs tuiMobileTabs>
  <button tuiTab tuiRipple="var(--tui-text-01)" class="p-2" (click)="openPageCreatedCourses()">
   Ваши Курсы
  </button>

  <button tuiTab tuiRipple="var(--tui-text-01)" class="p-2" (click)="openPageCreateCourse()">
    <tui-svg src="tuiIconPlus" class="icon m-2"></tui-svg>
    Создать
  </button>

</tui-tabs>

<ng-template [ngIf]="pageCreateCourse">
  <app-create-course></app-create-course>
</ng-template>

<ng-template [ngIf]="pageCreatedCourses">
  <app-created-courses></app-created-courses>
</ng-template>
