.container{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,auto));
    grid-gap: 50px;
  padding: 20px;
}

.card:hover{
    box-shadow: 0 5px 20px rgb(144, 187, 239);
    cursor: pointer;
}
.card{
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.info-course{
    margin: 10px;
}

.form-search{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
  margin: auto;
}

.submit-search{
margin: 10px;
}

.input-search{
    width: 500px;
    min-width: 100px;
    margin: 10px;
}


