<app-appbar></app-appbar>
<div class="main-container">
  <form class="search" class="form-search m-1" [formGroup]="formSearchCourses">
    <tui-input [(ngModel)]="valueSearch"  tuiTextfieldIconLeft="tuiIconSearchLarge" class="input-search" formControlName="valueName">
      Поиск по названию курса
      <input tuiTextfield type="text" />
    </tui-input>
  </form>
  <div class="title m-2">
    Онлайн-курсы
    <tui-svg src="tuiIconCornerRightDown" class="icon"></tui-svg>
  </div>
  <tui-loader [showLoader]="loader"></tui-loader>

  <div class="cards">
    <div  *ngFor="let item of courses | FilterPipe: valueSearch | paginate: { itemsPerPage: 6, currentPage: p }" >

      <a tuiIsland [hoverable]="true" class="card info-course">

        <button title="Добавить в избранное" size="s"   tuiButton appearance="custom">
          <tui-svg [ngClass]="{'btn-favourite':!loader}" (click)="addCourseFavourite(item.idCourse)" src="tuiIconHeartLarge" class="btn-heart"></tui-svg>
        </button>

        <div class="title" routerLink="/course/{{item.idCourse}}/promo">
          <span >{{item.name}}</span>
        </div>
        <p class="btn-cost-free tui-island__footer-button m-2">
          <button tuiLink routerLink="/course/{{item.idCourse}}/promo">
            Бесплатно
          </button>
        </p>
      </a>
    </div>

  </div>

  <pagination-controls  previousLabel="Назад"
                        nextLabel="След."
                        class="paginate-courses p-2" (pageChange)="p = $event"></pagination-controls>



</div>


