.cards{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,auto));
    grid-gap: 50px;
    padding: 20px;
    position: relative;
}

.main-container{
  max-width: 1000px;
  margin: auto;
}

.btn-favourite{
  color: red;

}


.title{
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.title-main{
  text-align: center;
  margin: auto;
  font-size: 28px;
}
.card:hover{
    cursor: pointer;
}
.card{
  width: 270px;
  height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-course{
    margin: 10px;
}
.btn-cost-free{
  position: absolute;
  width: 80%;
  bottom:20px;
}
.form-search{
    display: flex;
    flex-direction: row;
    max-width: 500px;
}

.submit-search{
    margin: 10px;
}

.input-search{
    width: 500px;
    min-width: 100px;
    margin: 10px;
}

.btn-heart{
 color: gray;
}

.active{
  background: yellow;
}


.btn-favourite{
  color: red;
}
