<app-appbar></app-appbar>
<form class="search" class="form-search" [formGroup]="formSearchCourses">
  <tui-input class="input-search" formControlName="valueName">
    Название курса
    <input tuiTextfield type="text" />
  </tui-input>
  <button tuiButton type="button" appearance="primary" class="submit-search">
    Найти
  </button>
</form>
<div class="container">
  <div *ngFor="let item of courses">
      <a tuiIsland class="card">
        <div class="line_title_btn-settings">
          <h3 class="tui-island__title">{{item.name}}</h3>
        </div>
        <p class="tui-island__paragraph">{{item.description}}</p>
      </a>
    </div>
</div>





