<app-appbar></app-appbar>

<div class="container">
    <form class="search" class="form-search" [formGroup]="formSearchCourses">
        <tui-input class="input-search" formControlName="valueName">
            Название курса
            <input tuiTextfield type="text" />
        </tui-input>
        <button tuiButton type="button" appearance="primary" class="submit-search">
            Найти
        </button>
    </form>
    <tui-tabs class="tabs-catalog">
        <button tuiTab class="c-sparp_courses p-2" (click)=" openPageOOP()">
            ООП
        </button>
        <button tuiTab class="test_courses p-2" (click)=" openPageTests()">
            Тестирование
        </button>
        <button tuiTab class="unity_courses p-2" (click)=" openPageUnity()">
            Unity
        </button>
        <button tuiTab class="web_courses p-2" (click)=" openPageWeb()">
            Веб-разработка
        </button>
    </tui-tabs>

    <div *ngIf="page1">
        <span>Скоро...</span>
    </div>

    <div *ngIf="page2">
        <span>Скоро...</span>
    </div>

    <div *ngIf="page3">
        <span>Скоро...</span>
    </div>

    <div *ngIf="page4">
        <span>Скоро...</span>
    </div>
</div>



