.container{
    max-width: 1000px;
    margin: auto;
}

.card {
    height: 200px;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    margin-top: 20px;
}

.card:hover{
    box-shadow: 0 5px 20px rgb(144, 187, 239);
    cursor: pointer;

}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,auto));
    grid-gap: 50px;
}
.info-course{
    margin: 10px;
}

.form-search{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}

.submit-search{
margin: 10px;
}

.input-search{
    width: 500px;
    min-width: 100px;
    margin: 10px;
}