.main-personal{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,auto));
  grid-gap: 10px;
}

.title-personal{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: auto;
}

.container{
  max-width: 800px;

}

.content {
  flex: 1 0 auto;
}

.title{
  text-align: center;
}

.text{
  text-align: center;

}
