

.info-course{
    max-width: 800px;
    height: auto;
}


.info-course:hover{
    cursor: pointer;
}

.main-syllabus{
    max-width: 1000px;
    margin: auto;
}


.title_syllabus-course{
    font-size: 28px;
}