<div class="main-syllabus">
    <button title="Добавить новый модуль в программу курса" tuiButton type="button" appearance="primary" class="m-3" size="s" (click)="openPageCreateModule()">
        <tui-svg src="tuiIconPlus" class="icon-edit"></tui-svg>
        Новый модуль
    </button>

    <h2 class="p-3">Программа курса</h2>

    <div class="cards-modules" *ngFor="let item of MODULES; let index = index">
        <div class="card-module">
            <a tuiIsland [hoverable]="true" class="info-course m-2">
                <div class="tui-island__title">
                    <h3 class="m-3"> {{index+1}}.  {{item.name}}</h3>                   
                </div>
                <button title="Отредактировать" tuiButton type="button" appearance="flat" class="btn-edit-module m-2" routerLink="/course/edit/{{item.idCourse}}/module/{{item.idModule}}/create-lesson">
                    <tui-svg src="tuiIconEdit3Large" class="icon-edit"></tui-svg>
                </button>
            </a>
        </div>
    </div>
</div>

<ng-template [tuiDialogOptions]="{label: 'Создание модуля', size: 'm'}" [(tuiDialog)]="dialogCreateModule" let-observer>
    <app-create-module-course></app-create-module-course>
</ng-template>