<app-appbar></app-appbar>

<div class="main-syllabus">

    <div class="main_title_btnCreateModule">
        <p class="title_syllabus-course m-2">Программа курса </p>
        <button title="Добавить новый модуль в программу курса" tuiButton type="button" appearance="primary" class="m-3"
            size="s" (click)="openPageCreateModule()">
            <tui-svg src="tuiIconPlus" class="icon-edit"></tui-svg>
            Новый модуль
        </button>
    </div>

    <tui-loader class="inline-flex tui-space_right-2" [showLoader]="loading" [inheritColor]="true" [overlay]="true">
       
    </tui-loader>

    <ng-template [ngIf]="noneModules">
        <p class="m-2">В курсе пока что нет ни одного урока. <br> Добавьте свой первый модуль. </p>
    </ng-template>

    <div class="cards-modules" *ngFor="let item of MODULES; let index = index">
        <div class="card-module">
            <a tuiIsland [hoverable]="true" class="info-course m-2">
                <div>
                    <span style="font-size: 22px;" class="m-3"> <a (click)="openPageInfoLessons(item)" tuiLink>{{index+1}}. {{item.name}}</a></span>
                </div>
                <button title="Отредактировать" tuiButton type="button" appearance="flat" class="btn-edit-module m-2"
                    routerLink="/course/edit/{{item.idCourse}}/module/{{item.idModule}}/info">
                    <tui-svg src="tuiIconEdit3Large" class="icon-edit"></tui-svg>
                </button>
            </a>
        </div>
    </div>
</div>

<ng-template [tuiDialogOptions]="{label: 'Создание модуля', size: 'm'}" [(tuiDialog)]="dialogCreateModule" let-observer>
    <app-create-module-course></app-create-module-course>
</ng-template>

<ng-template [tuiDialogOptions]="{ size: 'm'}" [(tuiDialog)]="pageInfoLessons" let-observer>
   <app-info-lessons></app-info-lessons>
</ng-template>