

.info-course{
    max-width: 800px;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.info-course-lesson{
  max-width: 750px;
  margin-left: 30px;
}

.card-lesson:hover{
  box-shadow: 0 5px 20px rgb(144, 187, 239);
  cursor: pointer;
}

.info-course:hover{
    cursor: pointer;
}

.title-settings{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-syllabus{
    max-width: 1000px;
    margin: auto;
}


.title_syllabus-course{
    font-size: 28px;
}

.main_title_btnCreateModule{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,auto));
    grid-auto-flow: dense;
}

.error-valueNameLesson{
  color: red;
  font-size: small;
}


.formCreateLesson{
  display: grid;
  grid-template-columns: minmax(100px, 500px) minmax(30px, 200px);
}

.title-module{
  font-size: 22px;
}


