

<div class="container">
   <button tuiButton type="button" appearance="primary" class="m-2" size="s" (click)="openPageCreateLesson()">
      Добавить урок
   </button>

   <h3>Модуль - {{current_module.name}}</h3>

   <ng-template let-observer [tuiDialogOptions]="{label: 'Создать урок в текущий модуль', size: 'm'}"
      [(tuiDialog)]="open">
      <app-create-lessons-module></app-create-lessons-module>
   </ng-template>

   <div class="cards-modules" *ngFor="let item of current_lessons; let index = index">
      <div class="card-module">
          <a tuiIsland [hoverable]="true" class="info-course m-2">
              <div class="tui-island__title">
                  <h3 class="m-3"> Урок {{index+1}}. {{item.text}}</h3>
              </div>
          </a>
      </div>
  </div>

</div>