.formCreateCourse{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}


.btn-submit_create-course{
  max-width: 200px;
}
.success-error-notification{
  max-width: 500px;
}

.error-name{
  color: red;
  font-size: small;
}

.error-description{
  color: red;
  font-size: small;
}
