.error-valueNameLesson{
    color: red;
    font-size: small;
}


.formCreateLesson{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 50px;

}

.btn-create-lesson{
  max-width: 150px;
}


