<form [formGroup]="formCreateLesson" class="formCreateLesson">
   <div class="input-name-lesson">
     <tui-input formControlName="valueNameLesson" class="valueNameLesson m-2" tuiTextfieldSize="s">
       Введите название нового урока
       <input tuiTextfield type="text" name="text" />
     </tui-input>
     <div *ngIf="f.valueNameLesson.errors && isSubmit">
       <span class="error-valueNameLesson m-2">Имя урока не может быть пустым</span>
     </div>
   </div>
    <button tuiButton type="submit" class="btn-create-lesson m-2" size="s"
            appearance="primary"  (click)="createLesson()">
          Создать урок
      </button>
</form>
