<!--<div class="qw">-->
<!--  <div class="d-flex">-->
<!--    <div class="sidebar" id="side_nav">-->
<!--      <div class="header-box">-->
<!--        <h5><span class="bg-white text-dark rounded shadow px-2 me-2">Модуль Введение в ангулар</span></h5>-->
<!--        <button class="btn close-btn px-1 py-0 text-black">-->

<!--        </button>-->
<!--      </div>-->
<!--      <ul class="px-2">-->
<!--        <li class="">QWERTY</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="content">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<form class="form-auth" [formGroup]="formLogin" (ngSubmit)="postdata(formLogin)">
  <h3>Авторизация</h3>
  <tui-input formControlName="email" class="valueEmail m-2">
    E-mail
    <input tuiTextfield type="email" name="email" />
  </tui-input>

  <tui-input-password formControlName="password" class="valuePassword m-2">
    Пароль
    <input tuiTextfield name="Password" />
  </tui-input-password>


  <ng-template [ngIf]="isNotCorrect">
    <tui-notification status="error" class="error m-2">
      Что-то пошло не так, попробуйте еще раз...
    </tui-notification>
  </ng-template>

  <div class="btns-main">

    <button tuiButton type="submit" class="btn-submit m-2" appearance="primary" size="s">
      <tui-loader [showLoader]="loaderAuth" [inheritColor]="true"
        [overlay]="true">
        Войти
      </tui-loader>
    </button>

    <a tuiLink routerLink="/register" type="button" appearance="secondary" class="btn-go_register m-2" size="m">
      Нет аккаунта? Зарегистрируйтесь
    </a>
  </div>
</form>
