.form-auth{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-top: 150px;
}

.btns-authpage{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
}

.forget-password{
    text-align: center;

}

h3{
    text-align: center;

}

.error-password{
    color: red;
}

.error-email{
    color:red;
}