
<form class="form-auth" [formGroup]="formLogin" (ngSubmit)="postdata(formLogin)">
  <span style="font-size: 32px;">Мечты о знаниях приводят на Timelider</span>

  <span style="font-size: 20px;">Авторизация</span>
  <tui-input formControlName="email" class="valueEmail m-2">
    E-mail
    <input tuiTextfield type="email" name="email" />
  </tui-input>

  <tui-input-password formControlName="password" class="valuePassword m-2">
    Пароль
    <input tuiTextfield name="Password" />
  </tui-input-password>


  <ng-template [ngIf]="isNotCorrect">
    <tui-notification status="error" class="error m-2">
      Что-то пошло не так, попробуйте еще раз...
    </tui-notification>
  </ng-template>

  <div class="btns-main">

    <button tuiButton type="submit" class="custom btn-submit m-2" appearance="custom" size="m">
      <tui-loader [showLoader]="loaderAuth" [inheritColor]="true"
        [overlay]="true">
        Войти
      </tui-loader>
    </button>

    <a tuiLink routerLink="/register" type="button" appearance="secondary" class="btn-go_register m-2" size="m">
      Нет аккаунта? Зарегистрируйтесь
    </a>
  </div>
</form>
