<app-appbar></app-appbar>
<tui-loader [showLoader]="loaderEditLesson" class="m-3"></tui-loader>
<div class="main" *ngIf = "!loaderEditLesson">
  <div class="m-2">
    <span class="title_edit-lesson m-2">Настройки урока</span>
    <p class="name-lesson m-2">{{current_lesson}}</p>
  </div>

  <ng-template [ngIf]="noneTask">
    <span>Добавьте первую задачу!</span>
  </ng-template>

  <div class="items">
      <div class="items tasks" *ngFor="let task of TASKS;let index = index">
        <div class="item-task" (click)="choiceTask(task)" title="Шаг {{index +1}}">{{index + 1}}</div>
      </div>

    <div class="btn-create-task" (click)="openCreateTask()">
      <div class="iconPlus" title="Создать новую задачу">
        <tui-svg src="tuiIconPlusLarge" class=""></tui-svg>
      </div>
    </div>
  </div>

  <div class="task" *ngIf="current_task">
    <p class="m-2">Задача: {{current_variant_task}}</p>

    <a tuiLink class="delete-task m-2" (click)="deleteTask()">
      <tui-svg src="tuiIconTrashLarge"></tui-svg>
      Удалить текущий шаг
    </a>

    <tui-text-area
      [(ngModel)]="current_task.textTask"
      class="field-medium m-2"
      [expandable]="true"
      [maxLength]="512"
    >
      Введите текст задачи
    </tui-text-area>

    <button
      tuiButton
      title="Сохранить изменения"
      type="button"
      class="btn-save m-2"
      size="m"
      appearance="custom">
      Сохранить
    </button>

  </div>


</div>


<ng-template [tuiDialogOptions]="{label: 'Создание задачи', size: 'm'}" [(tuiDialog)]="dialogCreateTask" let-observer>
  <app-create-task></app-create-task>
</ng-template>
