<app-appbar></app-appbar>
<tui-loader [showLoader]="loaderEditLesson" class="m-3"></tui-loader>


<div>
 <body>

 </body>
</div>

<div class="main" *ngIf = "!loaderEditLesson">
  <div class="m-2">
    <span class="title_edit-lesson m-2">Настройки урока</span>
    <p class="name-lesson m-2">{{current_lesson}}</p>
  </div>

  <ng-template [ngIf]="noneTask">
    <span>Добавьте первую задачу!</span>
  </ng-template>

  <div class="items">
      <div class="items tasks" *ngFor="let task of TASKS;let index = index">
        <button tuiButton class="item-task" appearance="custom" (click)="choiceTask(task)" title="Шаг {{index +1}}">
          <p class="index">{{index + 1}}</p>
        </button>
      </div>

    <div class="btn-create" (click)="openCreateTask()">
      <button  tuiButton class="btn-create-task" appearance="custom" title="Создать новую задачу">
        <tui-svg src="tuiIconPlusLarge" class="svg-plus"></tui-svg>
      </button>
    </div>
  </div>

  <div class="task" *ngIf="current_task">
    <div class="line-task_btn-delete m-2">
      <p class="m-2">Задача: {{current_variant_task}}</p>
      <a tuiLink class="delete-task m-2" (click)="deleteTask()" title="Удалить текущую задачу">
<!--        <tui-svg src="tuiIconTrashLarge" class="m-2"></tui-svg>-->
        Удалить
      </a>
    </div>


    <a tuiLink *ngIf="current_variant_task == 'Лекция' && !dialogOutputTask" class="output-task m-2" (click)="openOutputTask()">
      Просмотреть как выглядит лекция
    </a>
    <a tuiLink *ngIf="current_variant_task == 'Лекция' &&  dialogOutputTask" class="output-task m-2" (click)="closeOutputTask()">
      Скрыть
    </a>
    <ng-template [ngIf]="current_variant_task == 'Лекция' && !dialogOutputTask">
      <ckeditor
        [(ngModel)]="current_task.textTask"
        class="task-text field-medium m-2">
        Введите текст задачи
      </ckeditor>
    </ng-template>

    <ng-template [ngIf]="current_variant_task != 'Лекция'">
    <tui-text-area
      [(ngModel)]="current_task.textTask"
      class="field-large"
      [expandable]="true"
      [maxLength]="5000"
    >
      Введите текст задачи
    </tui-text-area>
    </ng-template>

      <div class="viewing-task">
        <div id="results">

        </div>
      </div>


    <tui-loader [showLoader]="loaderAnswers && without_answer == 1" class="m-3"></tui-loader>
    <tui-loader [showLoader]="loaderAnswers && without_answer == 4" class="m-3"></tui-loader>

    <div class="right-answer" *ngIf="!loaderAnswers && without_answer == 1">
      <tui-input class="m-2" [(ngModel)]="current_answer_task">
        Верный ответ на задачу
        <input
          tuiTextfield
          type="text"/>
      </tui-input>
    </div>

    <div class="right-answer" *ngIf="!loaderAnswers && without_answer == 4">
      <tui-input class="m-2" [(ngModel)]="current_answer_task">
        Верный ответ на задачу
        <input
          tuiTextfield
          type="text"/>
      </tui-input>
<br>
      <div *ngFor="let wrong of wrong_answers">
        <tui-input class="m-2" [(ngModel)]="wrong.textAnswer">
          Не верный ответ на задачу
          <input
            tuiTextfield
            type="text"/>
        </tui-input>
      </div>

    </div>

    <div class="btns-save-delete">
      <button
        tuiButton
        title="Сохранить изменения" type="button" class="btn-save m-2" size="m" appearance="custom">
        Сохранить
      </button>


    </div>


  </div>



</div>


<ng-template [tuiDialogOptions]="{label: 'Создание задачи', size: 'l'}" [(tuiDialog)]="dialogCreateTask" let-observer>
  <app-create-task></app-create-task>
</ng-template>




<app-footer></app-footer>

