.main{
  max-width: 1000px;
  margin: auto;
}


.title_edit-lesson{
  font-size: 20px;
}

.items-task{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(50px,auto));
  margin-left: 10px;
  font-size: 20px;
}

.items{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(60px,auto));
  margin-left: 10px;
}

.item-task{
  height: 50px;
  margin: 5px;
  width: 50px;
  background-color: var(--tui-support-03);
}

/*.btn-create-task{*/
/*  background-color: #f6f6f6;*/
/*  height: 50px;*/
/*  margin: 5px;*/
/*  width: 50px;*/
/*  cursor: pointer;*/
/*}*/

.item-task:hover{
  cursor: pointer;
}

.svg-plus{
  margin: auto;
}
.index{
  font-size: large;
}

.btn-create-task{
  height: 50px;
  margin: 5px;
  width: 50px;
  cursor: pointer;
}

.variants-task{
  max-width: 300px;
}

.btn-save {
  background-color: var(--tui-support-03);
  margin: auto;
}

.delete-task{
  color: red;

}

.btns-save-delete{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,auto));
  grid-gap: 10px;
}


.line-task_btn-delete{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
