<app-appbar></app-appbar>

<div class="container">

  <div class="name-task">
    <span>Задача: <br> {{text_task}} </span>
  </div>

  <br>
  <div class="name-student">
    <span>Решил студент: <br> {{name_student}} </span>
  </div>

  <div class="app-ace-editor p-2"  #editor
       style="max-width: 1400px;height: 400px;">
  </div>


  <form [formGroup]="formComment">
    <tui-text-area class="m-2" formControlName="valueComment">Ваш комментарий к коду</tui-text-area>
  </form>

  <div class="btns-right-wrong">
    <div class="right">
      <button (click)="submitRight()" title="Правильно" size="m" tuiButton class="btn-right m-2" appearance="custom">
        <tui-svg src="tuiIconCheck" class="btn-heart"></tui-svg>
      </button>
    </div>

    <div class="wrong">
      <button (click)="submitWrong()"  title="Не правильно" size="m" tuiButton class="btn-wrong m-2" appearance="custom">
        <tui-svg src="tuiIconClose" class="btn-heart"></tui-svg>
      </button>
    </div>
  </div>

</div>
