
<div class="test-task p-2">
  <span style="font-size: 24px;">Задача:</span> <br>
  {{test_task}}
</div>
<form>
  <tui-combo-box (tuiValueChanges)="keyup($event)" id="testValue" [formControl]="testValue"  class="choose-lang p-2" >
    Выберите язык программирования
    <input
      tuiTextfield
      placeholder=/>
    <tui-data-list-wrapper
      *tuiDataList
      [items]="languages | tuiFilterByInput"
    ></tui-data-list-wrapper>
  </tui-combo-box>
</form>
<div class="app-ace-editor p-2"  #editor
     style="max-width: 1400px;height: 400px;">
</div>

<div class="input-output-data">
  <tui-text-area name="inputData" ngDefaultControl [(ngModel)]="inputData" class="input-data m-2">
    Input
  </tui-text-area>

  <tui-text-area name="output" ngDefaultControl [(ngModel)]="output" class="output-data m-2">
    Output
  </tui-text-area>
</div>

<div class="btns-main">
  <button size="m" tuiButton appearance="custom" class="btn-submit-code" >
    Отправить
  </button>

  <button size="m" tuiButton appearance="custom" class="btn-run-code" (click)="submit()">
    Запустить
  </button>
</div>
