.app-ace-editor {
  border: 2px solid #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.container{
  max-width: 1000px;
}

.btn-run-code{
  background-color: var(--tui-text-01);
  color:white;
}

.btn-submit-code{
  background-color: var(--tui-success-fill);
  color:white;
}

.choose-lang{
  display:flex;
  justify-content:flex-end;
}

.btns-main{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,auto));
  grid-gap: 10px;
  padding: 20px;
}


.input-output-data{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(220px,auto));
  grid-gap: 10px;
}
